.header-container{
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/bgIMG.png);
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-text-div{
        .header-text{
            display: flex;
            font-size: 3rem;
            font-weight: bold;
            color: rgb(0, 0, 0);
            text-align: center;
            .Typewriter{
                margin-left: 11px;
            }
        }

    }
}