.header-container{
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/bgIMG.png);
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header-text-div{
        .header-text{
            display: flex;
            font-size: 3rem;
            font-weight: bold;
            color: rgb(0, 0, 0);
            text-align: center;
            .Typewriter{
                margin-left: 11px;
            }
            .header-text-cursor{
                //css blink animation
                animation: blinker 1s linear infinite;
                @keyframes blinker {
                    50% {
                        opacity: 100%;
                    }
                    51% {
                        opacity: 0%;
                    }
                    99% {
                        opacity: 0%;
                    }
                    100% {
                        opacity: 100%;
                    }
                }
            }
        }
        @media (max-width: 768px){
            .header-text{
                flex-direction: column;
                font-size: 2rem;
            }
        }
    }
    .git-button{
        text-decoration: none;
        background-color: white;
        border: 2px solid black;
        border-radius: 50px;
        font-size: 18pt;
        display: flex;
        align-items: center;
        padding: 10px;
        transition: 1.5s;
        svg{
            margin: 5px;
        }
        .git-btn-txt{
            transition: 1s;
            margin: 0px;
            font-size: 0px;
        }
    }
    .git-button:hover{
        transition: 1.5s;
        border-radius: 12px;
        cursor: pointer;
        //background-color: black;
        //svg{
            //color: white;
        //}
        .git-btn-txt{
            //color: white;
            margin-left: 5px;
            margin-right: 5px;
            transition: 1s;
            font-size: 16px;
        }
    }
}